<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="iso-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
  </head>
  <body>
    <input type="checkbox" id="side-checkbox" <%= menu?"checked":"" %>></input>

    <div class="page">
        <label class="icon" id="side-icon" for="side-checkbox">
            <i class="fa fa-bars"></i>
        </label>
        <span id="reload-icon" class="icon">
            <i class="fa fa-repeat"></i>
        </span>
        <span id="scroll-text">Scroll top </span>
        <span class="icon" id="up-icon"  title="Scroll top">
            <div id="bg-scroll" class=""></div>
            <i class="fa fa-angle-double-up"></i>
        </span>

        <h1 class="title"><%= title %></h1>
        <div class="courses">
            <section>
                <%  var lastDate = 0;
                    for(var i=0; i<courses.length; i++) {
                        var momentStart = courses[i].start,
                            momentEnd = courses[i].end;
                        if(courses[i].start.date() != lastDate) {
                             if(courses[i].start.day() === 1) {
                                 %> <div class="line bottom"><%= momentStart.format("dddd D MMMM YYYY"); %></div> <%
                             }
                             else {
                                 %> <div class="line"><%= momentStart.format("dddd D MMMM YYYY"); %></div> <%
                             }
                        }
                        lastDate = courses[i].start.date();

						var colorClass = "";
						if(/TDI|TDi|Tp|TP/.test(courses[i].name)) colorClass="tp";
						else if(/TD|Td/.test(courses[i].name)) colorClass="td";
						else if(/CM/.test(courses[i].name)) colorClass="cm";
						else if(/PPP|Projet|projet|ppp/.test(courses[i].name)) colorClass="ppp";
                %>
                <div class="course<%= " "+colorClass %>">
                    <h2><%= courses[i].name %></h1>

                    <div>
                        <div class="course-text date start"><%= momentStart.format("Do MMMM HH:mm"); %> </div>
                        -
                        <div class=" course-text date end"><%= momentEnd.format("Do MMMM HH:mm"); %></div>
                    </div>
                    <div class="course-text"><%= courses[i].location %></div>
                    <div class="course-text"><%= courses[i].description %></div>
                </div>
                <% } %>
            </section>
        </div>

        <div class="sideBar">
            <h1>Sélection groupe</h1>
            <form class="groupSelector" action="/" method="get">
                <select class="select noSwipe" id="selectDeps">
                    <%
                    for ( var i = 0; i < options.deps.length; i++ )
                    {
                        var res = ( options.deps[ i ] === selectedDep ) ? "selected" : "";
                        %><option value="<%=options.deps[ i ] %>" <%=res %>><%=options.deps[ i ] %></option><%
                    }
                    %>
                </select>
                <select name="group" class="select noSwipe" id="selectGroup">
                    <%
                        for ( var j = 0; j < options.deps.length; j++ ) {
                            var dep = options.deps[ j ];
                            var dis = ( dep === selectedDep ) ? "" : "hide";
                            for ( var i = 0; i < options[dep].length; i++ )
                            {
                                var res = ( options[dep][ i ] === selectedGroup ) ? "selected" : "";
                                %><option dep="<%=dep %>" value="<%=options[dep][ i ] %>" <%=res %> class="<%=dis %>"><%=options[dep][ i ] %></option><%
                            }
                        }
                    %>
                </select>
                <input type="submit" value="Valider" class="select" id="sendGroup">
                <input type="submit" value="Sauvegarder" class="select" id="saveGroup">
                <div id="pop-up" class=""><p>Error</p></div>
            </form>
            <div class="unused">
                <%var s = unused.length === 1 ? "":"s" %>
                <h1>Salle<%=s%> info<%=s%> libre<%=s%> à <%= moment().add(15,'minute').format("HH:mm")%></h1>
                <ul>
                <%
                    if(unused.length === 0) {
                        %><li>Aucune :(</li><%
                    }
                    for(var i=0; i<unused.length; i++) {
                        %><li><%=unused[i]%></li><%
                    }
                %>
                </ul>
            </div>
            <footer>Copyright (c) 2016 RYDIN Nathan and LUX Mathieu All Rights Reserved.</footer>
        </div>
    </div>

    <script src="/js/jquery-3.1.1.min.js" charset="utf-8"></script>
    <script src="/js/jquery.touchSwipe.min.js" charset="utf-8"></script>
    <script src="/js/script.js" charset="utf-8"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-90968538-1', 'auto');
        ga('send', 'pageview');
    </script>
  </body>
</html>
